
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid my-3 mx-5">
<h3>Slider Image</h3>
    <form>
        <div class="form-group">
            <input type="file" multiple>
        </div>  
        <a class="btn btn-danger btn-fw" asp-controller="Slider" asp-action="Index">Back</a>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>
